.product-card {
  display: inline-block;
  border-radius: 30px;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  max-width: 300px;
  margin-top: 20px;
  margin-left: 5%;
}

.product-card img {
  max-width: 100%;
  height: 350px;
}

.product-card h3 {
  font-size: 1.2rem;
  margin: 10px 0;
  font-weight: 600;
}

.product-card p {
  font-size: 0.9rem;
  color: #777;
}

.product-card .price {
  font-weight: bold;
  color: #333;
}

.product-card .buy-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product-card .buy-button:hover {
  background-color: #0056b3;
}

.colorOptions {
  color: #ff6347; /* Tomato color */
  margin-left: 20px;
}
